body {
  position: absolute;
  width: 100%;

}

.blue {
    color: #0072bc;
}

.bottomLeft {
  height: auto;
}

.bottomLeft img{
  display: inline-block;
  height: 90%;
  margin-left: 15px;
  bottom: 0;
}

.bottomSocial {
  margin-top: 50px;
  height: 100px;
  width: 100%;
  bottom: 0;
}

.bottomRight {
  height: 100%;
  padding-bottom: 20px;
}

.row.bottomSocial #fbook {
  width: 60px;
  height: 56px;
}

.row.bottomSocial #linkedin {
  width: 60px;
  height: 60px;

}
.row.bottomSocial #fbook:hover {
  opacity: .3;
  filter:alpha(opacity=30);
}

.row.bottomSocial #linkedin:hover {
  opacity: .3;
  filter:alpha(opacity=30);
}

.bottomStuffHolder {
  height: 100%;
}

.bottomStuffHolder img{
  /*float: right;
  display: block;*/
}

.bottomText{
  color: white;
  font-size: 16px;
  font-family: 'Menlo', sans-serif;
  width: 100%;
  text-align: right;
  float: right;
}

.contentTextBlock {
  font-size: 20px;
  color: white;
  text-align: center;
  font-family: 'Menlo', sans-serif;
  padding-top: 45px;
  padding-bottom: 45px;
}

.copyrightInfo {
  float: right;
  font-size: 25px;
  font-family: 'Menlo', sans-serif;
  margin-right: 40px;
  color: white;
  margin-top: 0px;
  text-align: right;
  padding-top: 10px;
}

.infinityHolder {
  width: 100%;
}

.infinityHolder img{
  float: right;
}

.inputBoxed {
  background-color: #0072bc;
  font-size: 21px;
  height: 35px;
  color: white;
}

.inputHolder {
  font-family: 'Menlo', sans-serif;
  padding-top: 25px;
  display: inline-block;
}

.inputLabel {
  text-align: right;
  padding-top: 5px;
  font-size: 20px;
  color: white;
}

.inputTextarea {
  background-color: #0072bc;
  font-size: 21px;
  height: 90px;
  color: white;
}

.inputRow {
  margin-top: 10px;
}

.sect0 {
  padding: 0px;
  width: 100%;
  background-color: black;
  display: inline-block;
}

.sect1 {
  height: 100%;
  background-color: rgb(55,55,55);
  display: inline-block;
}

.sect2 {
  background-color: black;
  height: 100%;
  width: 100%;
  display: inline-block;
}

.sendText {
  text-align: center;
  font-size: 23px;
  color: white;
  padding-top: 10px;
  padding-left: 5%;
  padding-bottom: 20px;
  display: inline-block;
}

.socialHolder {
  padding-bottom: 20px;
  height: 120px;
  z-index: 3;
}

.socialHolder img {
  height: 60px;
  width: 60px;
  margin-left: 15px;
  display: inline-block;
  top: 0;
}

.socialHolder #FBLogo {
  height: 56px;
  width: 60px;

}
.socialHolder #FBLogo:hover {
  opacity: .3;
  filter:alpha(opacity=30);
}
.socialHolder #LILogo:hover {
  opacity: .3;
  filter:alpha(opacity=30);
}

.splitBlock {
  z-index: 2;
  background-color: rgb(55,55,55);
  width: 100%;
  position: absolute;
}

.splitBlock img {
  margin-left: 90%;
  padding: 10px;
}

.studio {
  font-size: 30px;
}

.supermanContainer {
  padding-top: 10%;
  z-index: 3;
}

.supermanContainer img{
  width: 100%;
  height: 100%;
}

.unleashFindOut {
  font-family: 'Menlo', sans-serif;
  padding-top: 15px;
  font-size: 25px;
  color: white;
  text-align: center;
  padding-bottom: 60px;
  width: 80%;
  margin-left: 10%;
}

.unleashFindOut img {
  height: 40px;
  width: 72px;
  display: block;
  margin-left: 42%;
}

.unleashText {
  font-family: "Menlo", sans-serif;
  font-size: 25px;
  text-align: center;
  color: white;
  width: 80%;
  margin-left: 10%;
}

.website {
  font-size: 13px;
}

/*///////Media Queries and resizes/////*/

@media (max-width: 768px) {
  .socialHolder #FBLogo #LILogo {
    height: 60px;
    width: 60px;
    margin-left: 15px;
    display: inline-block;
    top: 0;
  }

  .splitBlock img {
    margin-left: 85%;
  }

  .copyrightInfo {
    font-size: 22px;
    margin-right: 10px;
  }

  .unleashFindOut {
    font-size: 18px;
  }

  .unleashFindOut img {
    margin-left: 38%;
  }

  .unleashText {
    font-size: 18px;
  }
}

@media (max-width: 475px) {
  .socialHolder #FBLogo {
  height: 50px;
  width: 50px;
  }
  .socialHolder #LILogo {
  height: 50px;
  width: 50px;
  }

  .copyrightInfo {
    font-size: 19px;
  }
  .splitBlock img {
    margin-left: 65%;
  }
  .unleashFindOut img {
    margin-left: 38%;
  }
}

@media (max-width: 414px) {
  .bottomText {
    font-size: 12px;
  }
  .copyrightInfo {
    font-size: 10px;
  }
  .row.bottomSocial #fbook {
    height: 50px;
    width: 50px;
  }
   .row.bottomSocial #linkedin {
    height: 50px;
    width: 50px;
  }
  .splitBlock img {
    margin-left: 70%;
  }
   .unleashFindOut{
    font-size: 18px;
    width: 100%;
  }
  .unleashFindOut img {
    margin-left: 20%;
  }
  .socialHolder #FBLogo {
  height: 50px;
  width: 50px;
  }
  .socialHolder #LILogo {
  height: 50px;
  width: 50px;
  }

}

@media (max-width: 375px) {
  .bottomText {
    font-size: 12px;
  }
  .copyrightInfo {
    font-size: 10px;
  }
  .row.bottomSocial #fbook {
    height: 40px;
    width: 40px;
  }
   .row.bottomSocial #linkedin {
    height: 40px;
    width: 40px;
  }
  .splitBlock img {
    margin-left: 70%;
  }
   .unleashFindOut{
    font-size: 16px;
  }
  .unleashFindOut img {
    margin-left: 20%;
  }
  .unleashFindOut #FBLogo {
    height: 40px;
    width: 40px;
    
  }

}

@media (max-width: 320px){
  .bottomText {
    font-size: 12px;
  }
  
  .copyrightInfo {
    font-size: 8px;
  }
  .row.bottomSocial #fbook {
    height: 40px;
    width: 40px;
  }
   .row.bottomSocial #linkedin {
    height: 40px;
    width: 40px;
  }
  .splitBlock img {
    margin-left: 75%;
    height: 60px;
  }
  .unleashFindOut{
    font-size: 12px;
  }
  .unleashFindOut img {
    margin-left: 20%;
  }
  .socialHolder #FBLogo {
    height: 40px;
    width: 40px;
    
  }
  .socialHolder #LILogo{
    height: 40px;
    width: 40px;
    
  }

}





