@import url(https://fonts.googleapis.com/css?family=Lato: 300, 700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,700);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,700);

body {
    color: white;
}

hr {
    max-width: 30%;
    border-color: #f05f40;
    border-width: 3px;
    margin-bottom: 15px;
}

/* Style for our header texts
* --------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Menlo', sans-serif;
    font-weight: 700;
    margin-top: 3px;
}


/* Backgrounds will cover all the section
* --------------------------------------- */
.section{
    background-size: cover;
    overflow: hidden;
}
.slide{
    background-size: cover;
}

.icons {
    padding-left: 20px;
    z-index: 999;
}

img {
    z-index: 999;
}

.shoveBottomLeft {
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
    padding-left: 20px;
}

.shoveBottomRight {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 20px;
    padding-right: 20px;
}

#section0 p{
    font-size: 25px;
}

#section0 {
    background-image: url('../img/18_web_alt.jpg');
    background-position: center;
}

#section0 h1{
    color: white;
    font-family: 'Menlo', sans-serif;
    padding: 20px 0px;
    font-size: 50px;
    display: inline;
}

#section0 h2{
    padding: 20px 0px;
    font-size: 35px;
    font-weight: 300;
}



#section1 {
    background-image: url('../img/stadium.jpg')
    /*padding: 3% 0 0 0;*/
}

#section1 p {
    color: white;
    padding: 10px 0px;
    font-size: 20px;
}

#section2 {
    background-image: url('../img/milk-fade.jpg');
    color: white;
}

#section2 p {
    font-size: 20px;
}

#section3 {
    background-color: #4e78cf ;
    color: black;
  
}

#section3 h1 {
    color: black; 
}

#section3, .service-box {
    color: black;
    padding: 10px;
}

#section3 p {
    font-size: 18px;
}

#section4 {
    background-image: url('../img/wood.jpg');
    color: white;
}

#section5 {
    background-color: #ff8300;
}

#section5 p {
    padding-top: 120px;
    font-size: 30px;
}

#section6 {
    background-image: url(../img/bg7.jpg);
}

#section6 p {
    color: white;
    font-size: 30px;
}

#section7 {
    background-image: url(../img/18_web_alt.jpg);
    background-position: center;
}

#section7 p {
    color: white;
    font-size: 20px;
}

#section7 h1 {
    color: black;
}

/* Centered texts in each section
* --------------------------------------- */

#main-logo{
    height: 100px;
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    top:0;
    right:0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black; /* in case the video doesn't fit the whole page*/
    background-image: /* our video */;
    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
    z-index:3;
}

 #section0 .layer{
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 230%;
        left: 0;
        top: 20%;
    }

    

    

    #section1 .layer{
        position: absolute;
        z-index: 0;
        width: 100%;
        left: 0;
        top: 15%;
        text-shadow:
            -1px -1px 0 #000,  
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
    }

    #section1 p {
        font-size: 20px;
    }

    #section2 .layer{
        position: absolute;
        z-index: 0;
        width: 100%;
        left: 0;
        top: 20%;
        font-size: 10px;
    }
    #section2 p {
        font-size: 15px;
    }
    #section3 .layer{
        position: absolute;
        z-index: 0;
        width: 100%;
        left: 0;
        top: 5%;
        font-size: 6px;
    }
    
    #section3 .serviceImage {
        width: 10%;
    }

    #section3 .infinity {
        display: none;
    }

    #section3 h2{
        color: black;
        font-size: 20px;
    }

    #section3 p{
        color: black;
        font-size: 16px;
    }

    #section4 .layer{
        position: absolute;
        z-index: 0;
        width: 100%;
        left: 0;
        top: 10%;
    }

    #section4 p{
        font-size: 16px;
    }

    #section5 .layer{
        position: absolute;
        z-index: 0;
        width: 100%;
        left: 0;
        top: 10%;
    }
    #section5 .network-image {
        width: 50%;
    }
    
    #section5 p {
        font-size: 20px;
        padding-top: 20px;
    }

    #section6 .layer{
        position: absolute;
        z-index: 0;
        width: 100%;
        left: 0;
        top: 35%;
    }

    #section7 .layer{
        position: absolute;
        z-index: 0;
        width: 100%;
        left: 0;
        top: 20%;
    }
    .philosophy-list {
        padding: 0px 40px;
    }
@media(min-width:768px) {
    
    #section0 .layer{
        position: absolute;
        z-index: 0;
        width: 100%;
        left: 0;
        top: 15%;
    }

    #section1 .layer{
        position: absolute;
        z-index: 0;
        width: 100%;
        left: 0;
        top: 22%;
    }

    #section1 p {
        font-size: 30px;
    }

    #section2 .layer{
        position: absolute;
        z-index: 0;
        width: 100%;
        left: 0;
        top: 18%;
        font-size: 18px;
    }

    #section2 .plan{
        top: 40px;
    }

    #section2 .proto{
        top: 15px;
    }

    #section2 .release{
        top: 15px;
    }

    #section3 .layer{
        position: absolute;
        z-index: 0;
        width: 100%;
        left: 0;
        top: 10%;
        font-size: 20px;
    }

    #section4 .layer{
        position: absolute;
        z-index: 0;
        width: 100%;
        left: 0;
        top: 20%;
    }

    #section5 .layer{
        position: absolute;
        z-index: 0;
        width: 100%;
        left: 0;
        top: 10%;
    }

    #section6 .layer{
        position: absolute;
        z-index: 0;
        width: 100%;
        left: 0;
        top: 35%;
    }

    #section7 .layer{
        position: absolute;
        z-index: 0;
        width: 100%;
        left: 0;
        top: 10%;
        font-family: Courier, "Lucida Console", monospace;

    }

    #section7 h1 {
        font-family: Courier, "Lucida Console", monospace;
    }
}



/* Navbar Menu
* --------------------------------------- */
.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Menlo', sans-serif;
    background-color: ;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    border: 0px;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Menlo', sans-serif;
    font-weight: 700;
    color: #f05f40;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #f05f40;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #f05f40!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #fff;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #f05f40;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #f05f40;
    }
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(240,95,64,.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Menlo', sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

section#section7 .section-heading {
    color: #fff;
}

section#section7 .form-group {
    margin-bottom: 10px;
}

section#section7 .form-group input,
section#section7 .form-group textarea {
    padding: 20px;
}

section#section7 .form-group input.form-control {
    height: auto;
}

section#section7 .form-group textarea.form-control {
    height: 236px;
}

section#section7 .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}

section#section7::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Courier, "Lucida Console", monospace;
    font-weight: 700;
    color: #bbb;
}

section#section7:-moz-placeholder {
    text-transform: uppercase;
    font-family: Courier, "Lucida Console", monospace;
    font-weight: 700;
    color: #bbb;
}

section#section7::-moz-placeholder {
    text-transform: uppercase;
    font-family: Courier, "Lucida Console", monospace;
    font-weight: 700;
    color: #bbb;
}

section#section7:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Courier, "Lucida Console", monospace;
    font-weight: 700;
    color: #bbb;
}

section#section7 .text-danger {
    color: #e74c3c;
}

html,body {
  font-family: 'Menlo', sans-serif;
  padding: 1em 2em;
  font-size: 18px;
}

.infinity {
    padding: 25px 0px;
}

.network-image {
    width: 100%;
}

.phil-image {
    padding-top: 10px;
    padding-right: 20px;
}

.infinity {
    width: 100%;
}




/*CSS STYLES FOR NEW WEBSITE*/

 .form-control {
    background-color: #0072bc;
    border: none;
    border-radius: 0px;
}

/*.main-content {
    height: 300px
}*/

#superman {
    width: 400px;
}

section#section7 .form-group textarea.form-control {
    height: 175px;
}

.address h3 {
    margin-top: 0px;
    font-weight: 100;
}


.form-horizontal {
    padding-top: 30px;
}

#branding {
    padding-top: 25px;
}

.find-out {
    padding-top: 20px;
}

#textarea_1::-webkit-input-placeholder
{
  visibility: hidden;
}
#textarea_2::-webkit-input-placeholder
{
  visibility: hidden;
}
#textarea_3::-webkit-input-placeholder
{
  visibility: hidden;
}

input, select, textarea{
    color: white;
    font-size: 24px;
}

textarea:focus, input:focus {
    color: white;
}

.section7 p {
    color: white;
}

.blue {
    color: #0072bc;
}

.address-right {
    margin-right: 15px;
}

#section7 .send  a {
    color: white;
    z-index: 999;
    font-size: 18px;
}

.llc {
    padding-right: 15px;
}

.social-icon {
        width: 75px;
        padding-left: 5px;
    }



/*MEDIA QUERIES*/

@media(max-width:768px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 10px;
    }
    #superman { 
        width: 250px;
    }
    #branding {
        font-size: 15px;
    }
    label {
        display: none;
    }

    section#section7 .form-group {
        margin-bottom: 4px;
    }
    section#section7 .form-group textarea.form-control {
    height: 100px;
    }
    section#section7 .form-group input, section#section7 .form-group textarea {
    padding: 5px;
    margin-bottom: 0px;
    }
    .main-content {
        padding-top: 20px;
    }
    .social-icon {
        width: 40px;
        padding-right: 5px;
    }

    .form-horizontal {
        padding:0 15px ;
    }
    
    .find-out {
        padding-top: 20px;
    }

    #section0 .find-out p {
        font-size: 15px;
    }

     #section0 .llc p {
    font-size: 10px;
    }

    .chevron img{
        width: 55px;
    }

#section7 p {
    font-size: 14px;
}

#section7 h2 {
    font-size: 18px;
    margin-top: 10px;
}

#section7 .infinity-address {
    width: 50px;
}

#section7 h3 {
    font-size: 12px;
    margin-bottom: 0px;
}

#section7 h4 {
    font-size: 10px;
    margin-bottom: 0px;
    margin-top: 3px;
}



br {
    display: none;
}

    #textarea_1::-webkit-input-placeholder
{
  visibility: visible;
}
#textarea_2::-webkit-input-placeholder
{
  visibility: visible;
}
#textarea_3::-webkit-input-placeholder
{
  visibility: visible;
}

.goal {
    padding-left: 15px;
    padding-right: 15px;
}

.shoveBottomLeft {
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
    padding-left: 0px;
}

.shoveBottomRight {
    position: absolute;
    bottom: 0;
    right: 0;
    
    }
}

/*this is intended to stop iphone from zooming when entering text*/
@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px;
  }
}
/*END OF MEDIA QUERY*/




